ul.contacts {
    list-style: none;
    display: table;
    margin: 20px 0 0 0;
    padding: 0;
}

ul.contacts.contact-right {
    display: inline-flex;
    float: right;
    text-align: right;
}

ul.contacts li.small {
    display: none;
}

ul.contacts li {
    display: inline-block;
    padding: 0;
    margin-right: 60px;
    vertical-align: middle;
}

ul.contacts li a {
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    color: #0d3041;
    display: inline-table;
    vertical-align: middle;
    margin: 0 5px;
}

ul.contacts li a.phone span {
    font-weight: 600;
    font-size: 16px;
}

ul.contacts li a b {
    font-weight: normal;
}

ul.contacts li a i {
    font-size: 28px;
}

ul.contacts li a.phone-icon i {
    font-size: 14px;
}

.moduletable-contato-footer ul.contacts li {
    display: table;
    margin: 0 auto 30px auto;
}

.moduletable-contato-footer ul.contacts li a {
    display: table;
    margin: 0 auto 10px auto;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
}

.moduletable-contato-footer ul.contacts li span {
    display: none;
}

.moduletable-contato-footer ul.contacts li a.phone-icon {
    display: none;
}

.moduletable-contato-footer ul.contacts li a.email-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    ul.contacts li a b {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    ul.contacts li a span {
        margin: 0;
    }
    ul.contacts li a i {
        font-size: 24px;
    }
}