#contact-social {
    float: right;
    background-color: #2b7aa2;
}

#contact-social ul.contact-social {
    list-style: none;
    display: table;
    margin: 0;
    padding: 0 10px;
}

#contact-social ul.contact-social.social-right {
    display: inline-flex;
    float: right;
    text-align: right;
}

#contact-social ul.contact-social li.small {
    display: none;
}

#contact-social ul.contact-social li {
    display: block;
    padding: 6px 10px;
    vertical-align: top;
}

#contact-social ul.contact-social li:last-child {
    border: 0;
}

#contact-social ul.contact-social li a {
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    display: table;
    line-height: 1;
    padding: 3px;
}

#contact-social ul.contact-social li a.phone span {
    font-weight: 600;
    font-size: 16px;
}

#contact-social ul.contact-social li a b {
    font-weight: normal;
}

#contact-social ul.contact-social li a i {
    font-size: 28px;
}

#contact-social ul.contact-social li a span {
    font-size: 14px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    ul.contact-social li a b {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    ul.contact-social li a span {
        margin: 0;
    }

    ul.contact-social li a i {
        font-size: 24px;
    }
}